
* {margin:0; padding:0; word-break:keep-all;}

.clearfix{*zoom:1}
.clearfix:after{clear:both;display:block;content:'';}

html,body{font-size:16px; overflow-x:hidden; font-family:'Noto Sans KR', sans-serif; font-weight:400; color: #000;}
body {position:relative;}
a {text-decoration:none; color:inherit;}
ol, ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
img{vertical-align: top;}
.section {width:100%; position:relative; }
.c_center {position: relative; margin: 0 auto; width: 1200px;}
select::-ms-expand {display:none}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family:'Noto Sans KR', sans-serif; 
  font-weight:400; 
  font-size: 1rem; 
  background: url('../images/sel_arrow.svg') calc(100% - 10px) center no-repeat;
  background-size: 12px;
  padding: 0 30px 0 10px;
  outline: 0 none;
}

caption {visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
input {padding: 0 10px; border: 0; color: #707070; font-family:'Noto Sans KR', sans-serif; font-weight: 300; font-size: 1rem;}
textarea {padding: 10px; box-sizing: border-box; width: 100%; height: 100%; resize: none; border: 1px solid #ddd;}

.c_blk {color: #000;}
.c_blk02 {color: #222;}
.c_w {color:#fff;}
.c_red {color: #FF0000;}
.c_red01 {color: #ED342F;}
.c_blue {color: #002250;}
.c_yellow {color: #F7D593;}
.c_bora {color: #8800B8;}
.c_bora01 {color: #BC00FF;}
.c_gry {color: #5D5D5D;}
.c_gry02 {color: #AAAAAA;}
.c_gry03 {color: #BCBCBC;}
.c_gry04 {color: #949494;}
.c_gry05 {color: #A5A5A5;}

.blue_gradient {background: transparent linear-gradient(180deg, #000019 0%, #00142E 52%, #000019 100%) 0% 0% no-repeat padding-box;}
.bora {background-color: #9800CE;}
.bora01 {background-color: #BC00FF;}
.gry {background-color: #ddd;}
.gry01 {background-color: #efefef;}
.blk {background-color: #000;}

.blind {display:block; overflow:hidden; position:absolute !important; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px;}

.bor_bot {border-bottom: 1px solid #4D4D4D;}

.dotdot {
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}

.f12 {font-size:0.75rem;}
.f14 {font-size:0.875rem;}
.f15 {font-size:0.938rem;}
.f16 {font-size:1rem;}
.f18 {font-size:1.125rem;}
.f20 {font-size:1.250rem;}
.f22 {font-size:1.375rem;}
.f24 {font-size:1.5rem;}
.f26 {font-size:1.625rem;}
.f28 {font-size:1.75rem;}
.f30 {font-size:1.875rem;}
.f32 {font-size:2rem;}
.f34 {font-size:2.125rem;}
.f36 {font-size:2.250rem;}
.f38 {font-size:2.375rem;}
.f42 {font-size:2.625rem;}
.f44 {font-size:2.75rem;}
.f48 {font-size:3rem;}
.f50 {font-size:3.125rem;}
.f54 {font-size:3.375rem;}
.f62 {font-size:3.875rem;}
.f72 {font-size:4.5rem;}
.f86 {font-size:5.375rem;}

.m0 {margin:0 !important;}
.mt_0 {margin-top:0 !important;}
.mb_0 {margin-bottom:0 !important;}

.m-12 {margin-top: 12px;}
.m-20 {margin-top: 20px;}
.m-24 {margin-top: 24px;}
.m-28 {margin-top: 28px;}
.m-36 {margin-top: 36px;}
.m-40 {margin-top: 40px;}
.m-45 {margin-top: 45px;}
.m-50 {margin-top: 50px;}
.m-60 {margin-top: 60px;}
.m-80 {margin-top: 80px;}
.m-72 {margin-top: 72px;}
.m-100 {margin-top: 100px;}

.m_10 {margin-bottom: 10px !important;}
.m_12 {margin-bottom: 12px;}
.m_20 {margin-bottom: 20px;}
.m_24 {margin-bottom: 24px;}
.m_28 {margin-bottom: 28px;}
.m_36 {margin-bottom: 36px;}
.m_40 {margin-bottom: 40px;}
.m_45 {margin-bottom: 45px;}
.m_60 {margin-bottom: 60px !important;}
.m_80 {margin-bottom: 80px;}
.m_72 {margin-bottom: 72px;}
.m_100 {margin-bottom: 100px;}


.p0 {padding:0 !important;}
.mt_0 {padding-top:0 !important;}
.pb_0 {padding-bottom:0 !important;}


.p-12 {padding-top: 12px !important;}
.p-20 {padding-top: 20px !important;}
.p-24 {padding-top: 24px !important;}
.p-28 {padding-top: 28px !important;}
.p-36 {padding-top: 36px !important;}
.p-45 {padding-top: 45px !important;}
.p-60 {padding-top: 60px !important;}
.p-80 {padding-top: 80px !important;}
.p-72 {padding-top: 72px !important;}
.p-100 {padding-top: 100px !important;}

.p_60 {padding-bottom:60px;}
.p_80 {padding-bottom:80px;}
.p_100 {padding-bottom:100px;}


.wid100 {width: 100%;}
.wid50 {width: 50%;}
.wid49 {width: 49%;}
.wid23 {width: 23%;}
.wid20 {width: 20%;}
.wid18 {width: 18%;}

.hght100 {height: 100%;}

.light {font-weight: 300;}
.regular {font-weight: 400;}
.bold {font-weight:500;}
.bold1 {font-weight:600;}
.bold2 {font-weight:700;}

.lh15 {line-height:1.5;}
.lh18 {line-height:1.8;}

.dp_f {display: -webkit-box; display: -ms-flexbox; display: flex;}
.dp_sb {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.dp_c {-webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.dp_wrap{-ms-flex-wrap: wrap; flex-wrap: wrap;}
.dp_cc {-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;}
.dp_end {align-items: flex-end;}
.dp_end02 {justify-content: flex-end;}
.dp_fc {flex-direction: column;}

.dp_ib{display:inline-block;}
.dp_b {display:block;}
.p_r {position:relative;}
.v_m {vertical-align:middle;}

.po_r {position:relative;}

.txt-l {text-align:left !important;}
.txt-r {text-align:right !important;}
.txt-c {text-align:center !important;}

.mo {display:none;}
.mo-m {display:none;}



input[type="checkbox"]{
    display:block; 
    position:relative; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    outline: 0; 
    background: #fff; 
    cursor: pointer; 
    padding: 0; 
    width: 20px;
    height: 20px; 
    border:1px solid #EFEFEF; 
    border-radius: 3px;
    box-sizing:border-box; 
    margin-right:10px; 
    overflow: hidden;
}
input[type="checkbox"]::after {
    content: ''; 
    display: none; 
    width: 18px; 
    height: 18px; 
    position: absolute; 
    top:0; 
    left:0; 
    text-align: center; 
    background-image: url("../images/checkbox_on.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    border:1px solid #BC00FF;
}
input[type="checkbox"]:checked::after {
    display: block;
}
