/*서브 공통*/
.subWrap {padding: 63px 0 100px 0;}
.subWrap .s_center {margin: 0 auto; width: 1200px;}
.subWrap .sidemenu {padding: 0 10px; width: 170px; box-sizing: border-box;}
.sideTit {margin-bottom: 30px; border-radius: 5px; width: 126px; height: 44px;}
.subWrap .sidemenu .sidemenu_list {margin-bottom: 40px;}
.subWrap .sidemenu .sidemenu_list li.content_box_a {font-weight: 700; color: #BC00FF;}
.subWrap .sidemenu02 .sidemenu_list li.content_box_a03 > img {transform: rotate(90deg);}
.subWrap .sidemenu li {margin: 15px 0;}

.subWrap .sidemenu02 {width: 175px;}
.subWrap .sidemenu02 .sidemenu_list > li > a {font-size: 1.125rem; font-weight: 700;}
.subWrap .sidemenu02 .sidemenu_list li.content_box_a03 .depth2 {display: block;}
.subWrap .sidemenu02 .sidemenu_list li .depth2 {display: none;}
.subWrap .sidemenu02 .sidemenu_list li .depth2 li.on a {font-weight: 700; color: #BC00FF;}
.subWrap .sidemenu02 li {position: relative; margin: 15px 0 10px;}
.subWrap .sidemenu02 .sidemenu_list li > img {position: absolute; top: 10px; right: 0; cursor:pointer;}
.subWrap .sidemenu02 .depth2 li:nth-child(1) {margin: 20px 0 8px 0;}
.subWrap .sidemenu02 .sidemenu_list {margin-bottom: 0;}
.subWrap .sidemenu02 .depth2 li {margin: 8px 0; text-indent: 10px;}

.subWrap .s_cont {width: 1000px; min-height: 669px;}
.subWrap .s_cont_tit {margin-bottom: 30px;}
.subWrap .s_cont_tit:after {content:""; display: block; margin-top: 10px; width: 100%; height: 1px; background-color: #EFEFEF;}
.subWrap .s_cont_tit.nobrb:after {display: none;}
.subWrap .top_searchBar {margin: 10px 0 30px 0;}
.subWrap .inputwrap input.search {display: block; padding: 10px 20px; width: 390px; box-sizing: border-box; border-radius: 5px 0 0 5px; border: 1px solid #EFEFEF; font-size: 0.875rem; color: #000;}
.subWrap .inputwrap input::placeholder {font-size: 0.875rem; color: #bcbcbc;}
.subWrap .inputwrap .searchBtn {width: 60px; border-radius: 0 5px 5px 0; box-sizing: border-box; font-size: 14px;}
.subWrap .searchBtn02 {width: 170px; height: 35px; border-radius: 5px;}
.tableWrap .subTbl {width: 100%; border-top: 2px solid #000; table-layout: fixed;}
.tableWrap .subTbl.brbt0 {border-top: 1px solid #000;}
.tableWrap .subTbl tr.brb000 {border-bottom: 1px solid #000;}
.tableWrap .subTbl tr {border-bottom: 1px solid #EFEFEF;}
.tableWrap .subTbl tr th,
.tableWrap .subTbl tr td {position: relative; padding: 10px 20px; font-size: 0.875rem; text-align: center;}
.tableWrap .subTbl tr td p {width: 90%; margin: 0 auto; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.tableWrap .subTbl tr.noResult {height: 84px;}
.tableWrap .subTbl tr.noResult td {color: #949494;}
.tableWrap .subTbl tr .replyStatus {margin: 0 auto; width: 76px; height: 26px; border-radius: 5px; border: 1px solid #949494; color: #949494;}
.tableWrap .subTbl tr .replyStatus.on {background-color: #949494; color: #fff;}
.tableWrap .subTbl tr .reviewWrt {position: absolute; top: 50%; transform: translateY(-50%); right: 20px; width: 76px; height: 26px; border-radius: 5px; font-size: 0.75rem;}

.tableWrap .subTbl02 tr {height: 50px;}
.tableWrap .subTbl02 th {text-align: left; color: #949494; font-size: 1rem; font-weight: 400;}
.tableWrap .subTbl02 td {text-align: right;}

.numWrap .prev_btn,
.numWrap .next_btn {margin: 0 5px; width: 30px; height: 30px; border-radius: 5px; background-color: #C8C8C8;}
.numWrap .num {margin: 0 5px; width: 30px; height: 30px; border-radius: 5px;}
.numWrap .num.on {background-color: #BC00FF; color: #fff;}

.subWrap .detail_cont {width: 800px;}
.subWrap .detail_cont .detail_sum {margin: 24px 0 40px 0;}
.subWrap .detail_right {margin: 24px 0 0 0;}
.subWrap .pin_box {padding: 30px 24px; width: 375px; border-radius: 0px 0px 5px 5px; border:1px solid #E9E9E9; box-sizing: border-box;}
.subWrap .pin_box .pin_box_tit {margin: 0 0 10px 0; font-size:1.250rem;}
.subWrap .pin_box .pin_box_det {margin: 0 0 30px 0; font-size: 0.875rem;} 
.subWrap .pin_box_btn {margin-bottom: 10px; border-radius: 5px; width: 100%; height: 50px; box-sizing: border-box;}
.subWrap .pin_box_btn:last-child {margin-bottom: 0;}
.subWrap .pin_box_btn.border {border: 1px solid #BC00FF;}


/*알림*/
.subWrap .grytitBox {padding: 20px 15px; background-color: #F8F8F8; border-radius: 5px; box-sizing: border-box;}
.morescroll {width: 100%; height: 48px; border-radius: 3px; font-weight: 700;}
.morescroll img {margin-left: 10px;}
.alertListWrap {margin-top: 15px;}
.alertListWrap .alertList {padding: 15px; box-sizing: border-box; border-bottom: 1px solid #eeeeee;}

#readAll {
    display:none;
}
#readAll + label { 
    cursor: pointer; 
    padding-left: 35px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
    background-image: url('../images/circheck_off.svg');
}

#readAll:checked + label {
    background-image: url('../images/circheck_on.svg');
}

#readAll:disabled + label {
    background-image: url('../images/circheck_on.svg');
}

#readAll:checked::after {
    display: none;
}

.alertListWrap .alertList{display: none;}

.alertListWrap .alertList .alertTit {position: relative;}
.alertListWrap .alertList .alertTit.read:before {content:""; display: block; width: 4px; height: 4px; border-radius: 50%; position: absolute; top: 0; left: -10px; background-color:#BC00FF;}


/*학습관리*/
.s_cont_tit .s_cont_tabbtn li {position: relative; margin-right: 20px; font-size: 20px;}
.s_cont_tit .s_cont_tabbtn li.on:after {content:""; display: block; position: absolute; bottom: -11px; width: 100%; height: 2px; background-color: #BC00FF;}
.s_cont_tit .s_cont_tabbtn li.on {color: #BC00FF; font-weight: 700;}
.top_searchBar .selectwrap {margin-right: 20px;}
.top_searchBar .selectwrap .select_tit {margin-right: 10px;}
.selectwrap select {height: 36px; border: 1px solid #C8C8C8; border-radius: 5px;}
.selectwrap.wid500 select {width: 500px;}
.selectwrap.wid400 select {width: 400px;}
.subWrap .nVdSlickBox {margin: 0 0 20px; width: 31.333%;}
.subWrap .nVdSlickBox .nVdCont .nVdBot {border-top: 1px solid #EFEFEF;}
.subWrap .nVdSlickBox .nVdCont .clickicon li span {color: #bcbcbc;}
.class_videoList_wrap .class_videoCont {padding-bottom: 15px; border-bottom: 1px solid #efefef;}
.class_videoList_wrap .class_videoCont .imgWrap {position: relative; margin-right: 20px; width: 200px; height: 110px; border-radius: 5px;}
.class_videoList_wrap .class_videoCont .imgWrap .likeMark {position: absolute; border: none; background-color: transparent; top: 0px; right: 0px; display: block; width: 30px; height: 30px; background-repeat: no-repeat; background-position: center center; background-image: url("../images/star_off.svg"); background-size: inherit; cursor: pointer;}
.class_videoList_wrap .class_videoCont .imgWrap .likeMark.on {background-image: url("../images/star_on.svg");}
.class_videoList_wrap .class_videoCont .video_progress {width: calc(100% - 220px);} 
.class_videoList_wrap .video_progress .play_titWrap .play_tit {margin-bottom: 3px; font-size: 1.125rem; font-weight: 700;}
.video_progress .progressBar_wrap {margin-top: 10px;}
.video_progress .progressBar_wrap .progressBar {position: relative; border-radius: 4px; width: 730px; height: 8px; background-color: #ECECEC; overflow: hidden;}
.video_progress .progressBar_wrap .progressBar_fill {border-radius: 4px; height: 100%; background-color: #BC00FF;}
.class_videoList_wrap .class_video_tit_wrap {padding: 15px 0 20px 0;}
.class_videoList_wrap .class_videoList.openyet .imgWrap,
.class_videoList_wrap .class_videoList.openyet .play_titWrap,
.class_videoList_wrap .class_videoList.openyet .playBtnWrap img,
.class_videoList_wrap .class_videoList.openyet .progressBar_wrap,
.class_videoList_wrap .class_videoList.openyet .class_video_tit_wrap  {opacity: 0.5;}
.playBtnWrap .play_status {position: relative; margin-right: 20px; border-radius: 5px; background-color: #ECECEC; color: #949494; width: 170px; height: 36px; font-weight: 700; z-index: 40;}
.playBtnWrap .play_status.on {color: #fff; background-color: #BC00FF;}
.noListShow {margin-top: 130px;}
.noListShow p {margin-bottom: 5px;}
.noListShow .goClassList {margin: 15px auto 0; border-radius: 5px; width: 140px; height: 30px; border: 1px solid #BC00FF; color: #BC00FF; font-size: 0.875rem;}
.class_searchBar .chkBoxTit::before {content: ""; display: inline-block; margin-right: 5px; width: 6px; height: 6px; border-radius: 50%; background-color: #BC00FF;}
.class_searchBar .chkBoxwrap {padding: 14px 20px; box-sizing: border-box; border: 1px solid #EFEFEF;}
.chkBoxwrap .inputwrap {margin: 0 15px;}
.chkBoxwrap .inputwrap label {display: block; font-size: 0.875rem;}
.class_searchBar .classRegiBtn {margin: 70px auto 0; width: 240px; height: 50px; border-radius: 5px; background-color: #BC00FF; color: #fff;}
.class_searchBar .inputwrap input[type=checkbox] {margin-right: 10px; width: 20px; height: 20px; border: 1px solid #efefef;}
.tableWrap .testStatus {width: 76px; height: 26px; border-radius: 5px; border:1px solid #BC00FF; color: #BC00FF;}
.tableWrap .testStatus.on {background-color: #BC00FF; color: #fff;}

.classConfWrap .classConf_tit {padding: 20px 0; border-top: 1px solid#ECECEC; border-bottom: 1px solid#ECECEC;}
.classConf_top_tbl {margin-top: 15px;}
.classConf_top_tbl th {width: 20%;}
.classConf_top_tbl td {width: 80%;}
.classConf_top_tbl th,
.classConf_top_tbl td {text-align: left; padding: 7px 20px; font-size: 0.875rem;}
.classConf_bot {margin-top: 7px;}
.classConf_bot .classConf_bot_tit {padding: 0 0 10px 20px; font-size: 0.875rem; font-weight: 700;}
.classConf_bot_tbl {border-top: 2px solid #000; border-bottom: 2px solid #000;}
.classConf_bot_tbl tr {border-bottom: 1px solid #C8C8C8;}
.classConf_bot_tbl th {width: 20%; background-color: #EFEFEF; font-size: 0.875rem;}
.classConf_bot_tbl td {width: 80%; font-size: 0.75rem; color: #949494; line-height: 1.8;}
.classConf_bot_tbl th,
.classConf_bot_tbl td {padding: 7px 20px;}
.classConf_bot_tbl_wrap .tbl_notice {margin: 7px 0 43px 0; font-size: 0.875rem; color: #949494; font-weight: 700;}
.classConf_signWrap {margin-bottom: 40px; position: relative;}
.classConf_signWrap .classConf_sign_tit {margin-bottom: 8px;}
.classConf_signWrap .classConf_sign_cir {position: absolute; top: 50%; transform: translateY(-50%); right: 20%; width: 90px; height: 90px; border-radius: 50%; background-color: #A5A5A5; color: #fff; font-weight: 700; text-align: center;}
.classConf_addrwrap {padding-top: 25px; border-top: 1px dashed #ECECEC;}
.classConf_addrwrap .classConf_addr {margin: 15px 0 10px 0;}
.classConf_addrwrap .classConf_addr li:after {content: ""; display: inline-block; margin: 0 7px; width: 1px; height: 15px; background-color: #333;}
.classConf_addrwrap .classConf_addr li:last-child:after {display: none;}
.showWayWrap .showWayBox {display: none;}
.showWayWrap .showWayBox:nth-child(1) {display: block;}
.certifi_printBtn {cursor:pointer;}
.completionWrap .completionBox {width:950px; height: 670px; padding: 10px; box-sizing: border-box; margin: 0 auto; background-repeat: no-repeat; background-position: center center; background-size: cover; background-image: url("../images/comp_bg.png");}
.completionWrap .compleTop {margin-top: 215px;}
.completionWrap .compleTop .compleTop_left {padding: 0 44px;}
.completionWrap .completionBox .compleTop .compleTop_bar {width: 380px; height: 30px; margin: 0 auto 20px; background-image:url("../images/gradient_cir.png"); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%;}
.completionWrap .compleTop .compleTop_right {padding: 0 40px;}
.completionWrap .completionBox .compleTop .compleTop_nm {width: 450px; margin: 0 auto; padding-bottom: 14px; border-bottom: 2px solid #8B8B8B; font-family: 'Noto Serif', serif;}
.completionWrap .compleTop .compleTop_det {margin-top: 20px; line-height: 2; font-family: 'Dancing Script', cursive;}
.completionWrap .completionBox .compleBot {margin-top: 78px; padding: 0 44px; width: 478px;}
.completionWrap .compleBot .compleBot_date_det,
.completionWrap .compleBot .compleBot_sign_det {padding-bottom: 10px; width: 148px; border-bottom: 2px solid #8B8B8B; font-family: 'Dancing Script', cursive;}
.completionWrap .certificateBox {padding: 12px; box-sizing: border-box; width: 500px; height: 705px; background-repeat: no-repeat; background-position: center center; background-size: cover; background-image:url("../images/certifi_bg.png")}
.completionWrap .certificateBox .compleTop .compleTop_bar {width: 298px; height: 24px; margin: 0 auto 20px; background-image:url("../images/gradient_cir.png"); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%;}
.completionWrap .certificateBox .compleTop .compleTop_nm {width: 335px; margin: 0 auto; padding-bottom: 14px; border-bottom: 2px solid #8B8B8B; font-family: 'Noto Serif', serif;}
.completionWrap .certificateBox .compleBot {width: 362px; margin: 63px auto 0;}


/*강좌 바구니*/
.tableWrap .subTbl02 {width: 100%; table-layout: fixed;}
.tableWrap .subTbl tr td.nopadd {padding:0 !important;}
.tableWrap .subTbl td .imgWrap {width: 150px; height: 80px; border-radius: 5px;}
.tableWrap .subTbl .cart_tit {width: calc(100% - 150px);}
.tableWrap .subTbl .cart_tit01 {margin-bottom: 3px;} 
.tableWrap .subTbl .trDelBtn {position: absolute; top: 15px; right: 0;}
.tableWrap .subTbl .trDelBtn .lnr-cross {font-size: 1rem; font-weight: bold;}
.tableWrap .discount_tit {margin-bottom: 15px;}
.tableWrap .subTbl .couponBtn {width: 76px; height: 26px; border-radius: 5px;}
.tableWrap .subTbl .gryinput {width: 76px; height: 26px; box-sizing: border-box; border-radius: 5px; background-color: #ECECEC; text-align: center; color: #000;}
.tableWrap .subTbl .gryinput::placeholder {color: #000;}
.totalAmtWrap {padding: 20px 10px 0 10px; border-top: 1px solid #000; border-bottom: 1px solid #000; box-sizing: border-box;}
.tableWrap .subTbl02 .totalTrWrap {height: 80px; border-top: 1px dashed #949494;}
.tableWrap .subTbl02 .totalTrWrap th,
.tableWrap .subTbl02 .totalTrWrap td {color: #000; font-weight: 700;}
.twoBtnWrap a {margin: 0 10px; border-radius: 3px; width: 200px; height: 48px; border: 1px solid #BC00FF; font-weight: 700; font-size:0.938rem;}
.couponApplyList .radioWrap {margin-bottom: 5px; box-sizing:border-box; padding: 10px 15px; width: 100%; height: 40px; border-radius: 5px; border: 1px solid #ECECEC;}
.radioWrap input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0
}
.radioWrap input[type="checkbox"] + label {
	position: relative;
	cursor: pointer;
}
  .radioWrap input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
	content: '';
	display: inline-block;
    margin-right: 10px;
	width: 24px;
	color:#fff;
	height: 24px;
    border-radius: 50%;
	text-align: center; 
	vertical-align: middle;
	background: #fff;
	border: 1px solid #ECECEC;
}
.radioWrap input[type="checkbox"] + label:active:before,
.radioWrap input[type="checkbox"]:checked + label:active:before {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.radioWrap input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
	background: url("../images/cou_check.svg") no-repeat center;
	border-color: #BC00FF;
}  
.radioWrap label > ul li:after {content:""; display: block; margin: 1px 5px 0; width: 1px; height: 10px; background-color:#ececec;}
.radioWrap label > ul li:last-child:after {display: none;}
.couponApplyBtn {width: 100%; height: 50px; border: 1px solid #ECECEC; box-sizing: border-box; border-radius: 5px;}
.newVdSlick02 .nVdSlickBox {margin: 0 5px;}
.newVdSlick02 .slick-next, .newVdSlick02 .slick-prev {
	width: 9px; 
	height: 18px;
	z-index: 30;
}

.newVdSlick02 .slick-next {
	right: -30px;
}

.newVdSlick02 .slick-prev {
	left: -30px;
}

.newVdSlick02 .slick-next:before, .newVdSlick02 .slick-prev:before {
	content: "";
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

}
.newVdSlick02 .slick-next:before {
	background-image: url("../images/next_gry.svg");
}

.newVdSlick02 .slick-prev:before {
	background-image: url("../images/prev_gry.svg");
}

.subWrap .recommend_box {border-top: 1px solid #EFEFEF; padding-top: 30px;}

/*쿠폰함*/
.couponBoxWrap .couponBox {padding: 15px 20px; height: 140px; border:1px solid #EFEFEF;}
.couponBoxWrap .couponBox:nth-child(1) {border-radius: 5px 0 0 5px; border-right: none;}
.couponBoxWrap .couponBox:nth-child(2) {border-radius: 0 5px 5px 0;}
.couponBoxWrap .couponBox .couponTop img {margin-right: 5px;}
.couponBoxWrap .couponBox .couponNm {margin-right: 10px; position: relative; top: 9px;}
.couTabWrap {margin-top: 40px;}
.couTabWrap .couTabBtn {width: 100%;}
.couTabWrap .couTabBtn:after {content: ""; display: block; margin-top: 10px; width: 100%; height: 1px; background-color: #EFEFEF;}
.couTabWrap .couTabBtn li {position: relative; margin-right: 25px; font-size:1.250rem;}
.couTabWrap .couTabBtn li.on {color: #BC00FF; font-weight: 700;}
.couTabWrap .couTabBtn li.on:after {content: ""; display: block; position: absolute; bottom: -11px; width: 100%; height: 2px; background-color: #BC00FF;}
.couTabWrap .couTabCont {display: none; padding-top: 20px;}
.couTabWrap .couTabCont:nth-child(1) {display: block;}
.couTabWrap .couTabCont .noCouponWrap {padding-top: 139px;}
.couTabWrap .couTabCont .couponUseBox {position: relative; margin-bottom: 35px; height: 150px; border-radius: 10px; overflow:hidden; width: 31.333%; border: 1px solid #EFEFEF; box-sizing: border-box;}
.couTabWrap .couTabCont .couponUseBox .couponUse {height: calc(100% - 42px); padding: 10px; box-sizing: border-box;}
.couTabWrap .couTabCont .couponUseBox .couponUse .cc_tit {margin-top: 5px;}
.couTabWrap .couTabCont .couponUseBox .botText {height: 42px;}
.couTabWrap .couTabCont .couponUseBox.used::after {content:""; position: absolute; display: block; width: 100%; height: 100%; background-color: rgb(255,255,255,0.6);}
.couTabWrap .couTabCont .couponUseBox.used .botText {background-color: #8f8f8f;}
.couTabWrap .couTabCont .couponUseBox.used .cc_tit {text-decoration: line-through;}


/*적립금*/
.totalPointWrap {padding: 20px; box-sizing: border-box; border-radius: 5px; border: 1px solid #EFEFEF;}
.totalPointWrap .p_icon {margin-right: 5px;}
.tableWrap .subTbl tr td .pointDet {margin-top: 4px;}
.point_moreBtn {margin-top: 40px; height: 48px; border-radius: 4px;}
.point_moreBtn .lnr-chevron-down {margin-left: 7px; position: relative; top: 1px;}
.pointTrWrap .pointTr {display: none;}
.subTbl .noResult {height: 84px; border-bottom: 1px solid #EFEFEF;}
.subTbl .row_tit_wrap {border-bottom: 1px solid #000;}
.subTbl .row_tit_wrap .row_tit {padding: 10px 20px; box-sizing:border-box; text-align: center; font-size: 0.875rem; font-weight: 700;}
.subTbl .row_tit_wrap .row_tit:nth-child(1) {width: 10%;}
.subTbl .row_tit_wrap .row_tit:nth-child(2) {width: 18%;}
.subTbl .row_tit_wrap .row_tit:nth-child(3) {width: 60%;}
.subTbl .row_tit_wrap .row_tit:nth-child(4) {width: 12%;}
.subTbl .pointTr {border-bottom: 1px solid #EFEFEF;}
.subTbl .pointTr .row_det {padding: 10px 20px; box-sizing:border-box; text-align: center; font-size: 0.875rem;}
.subTbl .pointTr .row_det:nth-child(1) {width: 10%;}
.subTbl .pointTr .row_det:nth-child(2) {width: 18%;}
.subTbl .pointTr .row_det:nth-child(3) {width: 60%;}
.subTbl .pointTr .row_det:nth-child(4) {width: 12%;}

/*내 구매내역*/
.tableWrap .divTBL {border-top: 2px solid #000;}
.tableWrap .divTBL .row {border-bottom: 1px solid #EFEFEF;}
.tableWrap .divTBL .row .row_tit,
.tableWrap .divTBL .row .row_detWrap .row_det {text-align: center;}
.tableWrap .divTBL .row .row_tit {height: 40px; border-bottom: 1px solid #000;}
.tableWrap .divTBL .row .row_tit:nth-child(1) {width: 60%;} 
.tableWrap .divTBL .row .row_tit:nth-child(2) {width: 14%;} 
.tableWrap .divTBL .row .row_tit:nth-child(3) {width: 12%;} 
.tableWrap .divTBL .row .row_tit:nth-child(4) {width: 14%;} 
.tableWrap .divTBL .row .row_detWrap .row_det {padding: 27px 0;}
.tableWrap .divTBL .row .row_detWrap .row_det:nth-child(1) {width: 60%;} 
.tableWrap .divTBL .row .row_detWrap .row_det:nth-child(2) {width: 14%;} 
.tableWrap .divTBL .row .row_detWrap .row_det:nth-child(3) {width: 12%;} 
.tableWrap .divTBL .row .row_detWrap .row_det:nth-child(4) {width: 14%;} 
.paytblWrap .paytbl {width: 100%;}
.payDetailMore {display: block; width: 100px; background-repeat: no-repeat; background-position: 100% center; background-size: 10px 5px; background-image: url("../images/downArr.svg");}
.payDetailMore.on {background-image: url("../images/upArr.svg");}
.detailToggWrap {display: none; padding: 25px 20px;}
.detailToggWrap .paystatusBox {margin-bottom: 15px; width: 76px; height: 28px; border-radius: 5px;}
.detailToggWrap .paytblWrap .paytbl tr {height: 35px;}
.detailToggWrap .paytblWrap .paytbl th {width: 25%; text-align: left; color: #949494; font-weight: 400;}
.detailToggWrap .paytblWrap .paytbl td {width: 75%;}
.lastTotal {margin-top: 20px;}
.lastTotal .total_tit {font-weight: 700; width: 25%;}
.lastTotal .total_det {width: 75%;}


/*개인정보 수정*/
.s_cont_tit_det {margin-left: 10px;}
.personal_row {margin-bottom: 15px;}
.personal_row .personal_tit {width: 15%; font-size: 0.875rem;}
.personal_row .personal_det {width: 85%; font-size: 0.875rem;}
.personal_row .personal_det input,
.personal_row .personal_det select {box-sizing: border-box; width: 240px; height: 40px; border-radius: 3px; border: 1px solid #EFEFEF; font-size: 0.875rem;}
.s_label {margin-left: 10px;}
.s_label img {margin: 4px 5px 0 0;}
.addSubtbl tr.addr_tr_det {height: 84px;}
.addSubtbl tr .default_label {width: 68px; height: 20px; margin: 0 auto 5px; border-radius: 10px;}
.addrEditBtnWrap .addrEditBtn:nth-child(1):after {content: ""; display: block; margin: 3px 10px 0; width: 1px; height: 18px; background-color: #EFEFEF;}
.twoBtn02Wrap a {margin: 65px 5px 0; border-radius: 3px; width: 150px; height: 48px; font-size: 0.875rem; color: #000; border: 1px solid #000;}
.twoBtn02Wrap a.bora01 {border:1px solid #BC00FF; color: #fff !important;}
.mobile_resetWrap li {margin-bottom: 5px;}
.mobile_resetWrap li:before {content: "-"; margin-right: 10px;}
select.reason_reset {width: 200px; heignVdSlickBox_04_wrapht: 36px; border: 1px solid #EFEFEF; border-radius: 5px; color: #949494; font-size: 0.875rem;}
.resetBtn {margin: 50px auto 0; width: 240px; height: 50px; border-radius: 5px;}
.mustInput {display: block; margin-left: 5px; color: #BC00FF; font-size: 0.875rem; font-weight: 700;}
.form_row_wrap .row {margin-bottom: 10px;}
.form_row_wrap .row .inputWrap {width: 544px;}
.form_row_wrap .row .inputWrap input[type="text"] {width: 100%; margin-bottom: 6px; height: 40px; padding: 9px 10px; border-radius: 3px; box-sizing: border-box; border: 1px solid #EFEFEF; font-size: 0.875rem;}
.form_row_wrap .row .inputWrap input[type="text"]::placeholder {font-size: 0.875rem; color: #A5A5A5;}
.form_row_wrap .row .two_inputWrap input[type="text"] {width: 426px;}
.form_row_wrap .row .two_inputWrap .addrSearchBtn {background-color: transparent; width: 108px; height: 40px; box-sizing: border-box; border: 1px solid #BC00FF; border-radius: 3px; color: #BC00FF;}
.addrRegisterWrap .addr_caution {margin-bottom: 50px; line-height: 1.8;}
.addrRegiBtn {margin: 0 auto;width: 240px; height: 50px; border-radius: 5px;}

/*all클래스*/
.subWrap .s_cont_tit02 {margin-bottom: 20px;}
.subWrap .s_cont_tit02.bor_bot {padding-bottom: 12px; border-bottom: 1px solid #EFEFEF;}
.subWrap .s_cont_tit02 .line::after {content: ""; display: block; margin: 0 10px; width: 1px; height: 26px; background-color: #EFEFEF;} 
.subWrap .all_list_wrap {margin-bottom: 50px;}

/*자격증 과정*/
.subWrap .nVdSlickBox_04_wrap .nVdSlickBox {margin: 0 0 40px; width: 23%;}
.subWrap .nVdSlickBox_04_wrap .nVdSlickBox .imgWrap {height: 240px;}

/*이벤트*/
.event_nVdSlickBox_wrap .nVdSlickBox {margin: 0 0 40px;}
.event_nVdSlickBox_wrap .nVdSlickBox .imgWrap {height: 200px;}
.event_nVdSlickBox_wrap .nVdSlickBox .imgWrap .time_show {display: inline-block; right: 10px; top: 10px; border-radius: 5px; padding: 3px;}
.event_nVdSlickBox_wrap .nVdSlickBox .imgWrap .time_show span {margin: 0 2px; font-size: 10px;}
.event_nVdSlickBox_wrap .nVdSlickBox .nVdCont .nVdBot span {font-size: 0.875rem;}
.pin_box .event_pin_list {margin-bottom: 40px;}
.pin_box .event_pin_list li {margin-bottom: 20px;}
.pin_box .event_pin_list li span {font-size: 0.875rem;}
.pin_box .event_pin_list li span:nth-child(1) {width: 33%;}
.pin_box .event_pin_list li span:nth-child(2) {width: 67%;}






